a {
  text-decoration: none;
}
/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 30px;
}
.header__ttl img {
  display: inline-block;
  object-fit: cover;
  width: 100px;
  height: auto;
}
a:link {
  color: grey;
}
.header__nav {
  font-weight: bold;
}
.header__nav-list {
  list-style: none;
  display: flex;
}
.header__nav-item:not(:last-child) {
  margin-right: 30px;
}

/* メイン(head) */
.main__head-ttl {
  color: orange;
  font-size: 60px;
  font-family: "Bubbler One", sans-serif;
  line-height: 80px;
}
.main__head-ttl span {
  color: skyblue;
}
.main__head-line1 {
  color: orange;
  font-size: 20px;
  margin: 10px auto;
}
.main__head-line1 span {
  color: skyblue;
}
.main__head-line2 {
  color: grey;
  line-height: 25px;
}
/* 配置 */
.main__head {
  position: relative;
  margin: 20px 0;
}
.main__head-img {
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
}
.main__head-ttl {
  position: absolute;
  top: 20%;
  left: 20%;
}
.main__head-line1 {
  position: absolute;
  top: 55%;
  left: 20%;
}
.main__head-line2 {
  position: absolute;
  top: 63%;
  left: 20%;
}

/* メイン(info) */
.main__info {
  margin: 50px 250px;
}
.main__info-logo {
  color: orange;
  font-weight: bold;
  font-family: "Bubbler One", sans-serif;
}
.main__info-ttl {
  color: grey;
  font-size: 20px;
  margin: 10px 0 30px;
}
.main__info-border-up {
  border-bottom: 2px solid grey;
  margin: 10px 0;
}
.main__info-border-down {
  border-bottom: 2px solid grey;
  margin: 30px 0;
}
.main__info-info-date {
  color: grey;
}
.main__info-info-news {
  background-color: orange;
  color: white;
  border-radius: 10px;
  padding: 2px 15px;
  display: inline-block;
}
.main__info-info-content {
  color: grey;
}
.main__info-info {
  border-bottom: 1px solid grey;
}
/* 配置 */
.main__info-info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}
.main__info-info-date,
.main__info-info-news,
.main__info-info-content {
  margin: 10px 20px;
}

/* メイン(about) */
.main__about {
  background: #f2f2f2;
  color: grey;
  padding: 50px 0;
}
.main__about-logo {
  color: orange;
  font-weight: bold;
  font-family: "Bubbler One", sans-serif;
  text-align: center;
}
.main__about-ttl {
  font-size: 20px;
  margin: 10px auto 30px;
  text-align: center;
}
/* content内の配置 */
.main__about-content-text {
  display: flex;
  flex-direction: column;
}
.main__about-content-text-1,
.main__about-content-text-2 {
  width: 400px;
  padding: 10px;
  margin: 0;
  line-height: 25px;
}
/* 配置 */
.main__about-content {
  display: flex;
  justify-content: space-around;
}
.main__about-content-text {
  width: 400px;
}
.main__about-content-img img {
  width: 400px;
}

/* メイン(service) */
.main__service {
  margin: 50px auto;
  width: 80%;
}
.main__service-logo {
  color: orange;
  font-weight: bold;
  font-family: "Bubbler One", sans-serif;
}
.main__service-ttl {
  color: grey;
  font-size: 20px;
  margin: 10px 0 30px;
}
.main__service-content {
  color: white;
  text-align: center;
  line-height: 25px;
}
/* boxの配置 */
.main__service-content {
  display: grid;
  grid-template-rows: 175px 175px;
  grid-template-columns: 1fr 1fr;
}
.main__service-content-box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: rgb(79, 160, 252);
}
.main__service-content-box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: rgba(75, 153, 216, 0.829);
}
.main__service-content-box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: rgb(85, 188, 247);
}
/* box1 */
.main__service-content-box1 img {
  display: block;
  width: 120px;
  height: auto;
  margin: 30px auto 20px;
}
.main__service-content-box1 h3 {
  margin-bottom: 10px;
}
.main__service-content-box1 p {
  text-align: left;
  display: inline-block;
}
/* box2,3 */
.main__service-content-box2,
.main__service-content-box3 {
  display: flex;
  justify-content: space-around;
}
.main__service-content-box2 img,
.main__service-content-box3 img {
  width: 120px;
}
.main__service-content-box2-1,
.main__service-content-box3-1 {
  text-align: left;
  display: inline-block;
}
.main__service-content-box2-1 h3,
.main__service-content-box3-1 h3 {
  margin: 20px auto 10px;
}

/* メイン(blog)*/
.main__blog {
  background: #f2f2f2;
  margin: 0px auto;
  padding: 50px 200px;
}
.main__blog-logo {
  color: orange;
  font-weight: bold;
  font-family: "Bubbler One", sans-serif;
}
.main__blog-ttl {
  color: grey;
  font-size: 20px;
  margin: 10px 0 10px;
}
/* カードの中身 */
.main__blog-card {
  width: 300px;
  height: auto;
  margin: 0px auto 0;
  color: grey;
  background: white;
  border-radius: 20px;
}
.main__blog-card-img {
  position: relative;
}
.main__blog-card-img p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  border-top-left-radius: 20px;
  color: white;
  background: orange;
}
.main__blog-card-img img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.main__blog-card-content {
  padding: 20px 20px;
  line-height: 30px;
}
.main__blog-card-content-ttl {
  font-size: 18px;
}
.main__blog-card-content-tag {
  font-size: 14px;
  padding: 15px 15px;
}
.main__blog-card-content-tag-date {
  display: inline-block;
}
.main__blog-card-content-tag-item {
  display: inline-block;
  padding-left: 60px;
}
/* カードの配置 */
.main__blog-flex {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
/* 一覧ページへ */
.main__blog-bottom {
  text-align: center;
}
.main__blog-bottom-page {
  display: inline-block;
  padding: 20px 45px;
  border-radius: 30px;
  background: white;
  border: solid 2px orange;
}
.main__blog-bottom-page a {
  color: orange;
}

/* メイン(company) */
.main__company {
  width: 800px;
  margin: 50px auto;
}
.main__company-logo {
  color: orange;
  font-weight: bold;
  font-family: "Bubbler One", sans-serif;
}
.main__company-ttl {
  color: grey;
  font-size: 20px;
  margin: 10px 0 20px;
}
/* table */
.main__company-table {
  width: 100%;
  border-collapse: collapse;
  color: grey;
}
.main__company-table th,
.main__company-table td {
  border: 1px solid #e8e8e8ee;
  padding: 20px;
  text-align: left;
}
.main__company-table th {
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 20px 100px 20px 20px;
}
.main__company-table td {
  padding: 20px 300px 20px 20px;
}

/* メイン(information) */
.main__information {
  position: relative;
  background-image: url(../img/recruit.png), url(../img/interview.png);
  background-size: 50%, 50%;
  background-repeat: no-repeat;
  background-position: left, right;
  padding: 150px 150px;
}
.main__information a {
  color: white;
}
.main__information-recruit {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.main__informatino-interview {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

/* メイン(contact)*/
.main__contact {
  text-align: center;
  margin: 50px auto;
}
.main__contact p {
  color: grey;
  font-weight: bold;
}
/* ライン */
.main__contact-line {
  margin: 20px auto;
  width: 2px;
  height: 35px;
  background-color: rgb(255, 145, 0);
}
/* お問い合わせボタン */
.main__contact-btn {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 20px;
  margin: 0px auto;
  text-align: center;
  background: linear-gradient(90deg, rgb(255, 217, 0), rgb(255, 145, 0));
  border-radius: 30px;
  box-shadow: 0 7px 0 rgb(255, 115, 0);
}
.main__contact-btn a {
  color: white;
}
.main__contact-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  transform: translate(0, -50%);
}

/* フッター */
.footer {
  text-align: center;
  color: grey;
  background: #f2f2f2;
  margin: 0px auto;
  padding: 20px 0;
}
